{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off",
    "no-trailing-spaces": ["error"],
    "func-names": "off",
    "import/no-named-as-default": "off",
    "import/no-dynamic-require": "off",
    "react/prop-types": "off"
  }
}